---
import { slugify, formatDate } from "../js/utils";

const { relatedPosts } = Astro.props;
---

{
  relatedPosts.map((post) => (
    <div class="post">
      <h3 class="h4">
        <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
      </h3>
      <small>
        <a href={`/author/${slugify(post.data.author)}/`}>{post.data.author}</a>{" "}
        • {formatDate(post.data.date)}
      </small>
    </div>
  ))
}
