---
import { slugify, formatDate } from "../js/utils";

const { relatedPosts } = Astro.props;
---

{
  relatedPosts.map((post) => (
    <div class="post">
      <h3 class="h4">
        <a href={post.url}>{post.frontmatter.title}</a>
      </h3>
      <small>
        <a href={`/author/${slugify(post.frontmatter.author)}/`}>
          {post.frontmatter.author}
        </a>{" "}
        • {formatDate(post.frontmatter.date)}
      </small>
    </div>
  ))
}
